<p (click)="titleclicked(thispara.innerText)" #thispara>{{title}}</p>

<input type="text" placeholder="type something" [(ngModel)]="something">
<h1>{{something}}</h1>
<!-- <button (click)="logincustomer()">Click me to login</button> |
<button (click)="registercustomer()">Click me to register</button> -->

<button (click)="logincustomer()" routerLink="/login">Click me to login</button> |
<button (click)="registercustomer()" routerLink="/register">Click me to register</button> |
<button routerLink="/exampleforms">Click me to see forms examples</button> |

<router-outlet></router-outlet>

<!-- <app-register-customer [registertrue]="registertrue" (passNewCustomerToParent)="registernewcustomer($event)">
</app-register-customer>
<app-login-customer [logintrue]="logintrue"></app-login-customer> -->